.home-banner {
	position: relative;
	padding: 240px 0;

	h1 {
		color: var(--color-accent);
		font-size: 64px;

		@media all and (max-width:991px) {
			font-size: 25px;
		}
	}

	h2 {
		color: var(--color-accent);
		font-weight: normal;
		font-size: 64px;
		line-height: 75px;

		@media all and (max-width:991px) {
			font-size: 25px;
			line-height: 30px;
		}
	}

	p {
		font-size: 18px;
	}
}

.scroll {
	display: block;
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);

	span {
		display: block;
		width: 8px;
		height: 8px;
		transform: rotate(45deg);
		border-right: 1px solid black;
		border-bottom: 1px solid black;
		margin: 0 0 3px 4px;
		animation: mouse-scroll 1s infinite;
		animation-direction: alternate;

		&:nth-child(2) {
			animation-delay: .2s;
		}

		&:nth-child(3) {
			animation-delay: .3s;
		}
	}
}

.mouse {
	height: 27px;
	width: 16px;
	border-radius: 14px;
	border: 1px solid black;
	top: 170px;

	&:before {
		content: '';
		display: block;
		width: 2px;
		height: 5px;
		margin: 5px auto;
		background: black;
		animation: mouse-wheel 1.4s linear infinite;
	}
}

.home-intro {
	padding-top: 40px;

	&__image {
		display: flex;
		position: relative;
		z-index: 3;

		span {
			display: block;
			width: 60px;
			height: 60px;
			background: #696969;
			position: absolute;
			bottom: -30px;
			left: calc( 75% - 30px );
		}
	}

	img {
		display: block;
		max-width: 75%;
	}

	h3 {
		font-weight: normal;
		font-size: 12px;
		letter-spacing: 5px;
		transform: rotate(90deg);
		position: absolute;
		left: 72%;
		top: 50%;
	}

	&__content {
		padding: 85px 0;
		position: relative;
		background: url( images/polygon.gif ) center center / cover no-repeat;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 2;
			background: rgba( #f1f1f1, .9 );
		}

		.container {
			position: inherit;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			z-index: 3;
		}

		.col-6 {
			display: flex;
			align-items: center;
			margin-bottom: 70px;
		}

		h4 {
			display: inline-flex;
			justify-content: space-between;
			align-items: center;
			font-weight: normal;
			border-bottom: 1px solid #656565;
			width: 100%;

			@media all and (min-width:992px) {
				width: 75%;
			}

			span {
				font-weight: bold;
				color: var(--color-accent);
				font-size: 30px;
			}
		}

		img {
			width: 50px;
			margin-right: 35px;
		}
	}
}

.home-product {
	overflow-x: hidden;
	padding: 60px 0;

	@media all and (max-width:991px) {
		padding: 30px 0;
	}

	.col-12 {
		margin-bottom: 30px;
	}

	.product-items {
		@media all and (min-width:992px) {
			margin-left: -15px;
		}
	}

	.item {
		text-align: center;

		&:hover {
			.item-thumb {
				img {
					transform: scale(1.3);
				}
			}

			h3 {
				color: var(--color-accent);
			}
		}
	}

	.item-thumb {
		display: block;
		overflow: hidden;

		img {
			transition: 1s;
		}
	}

	h3 {
		text-transform: uppercase;
		margin-top: 15px;
		transition: .3s;

		&:after {
			content: '';
			display: block;
			margin: 10px auto;
			width: 30px;
			height: 1px;
			background: #000000;
		}
	}
}

.home-project {
	background: #f1f1f1;
	padding: 60px 0;

	@media all and (max-width:991px) {
		padding: 30px 0;
	}

	.col-12 {
		margin-bottom: 30px;
	}

	a {
		position: relative;
		display: block;
	}

	.item {
		position: relative;
		margin-bottom: 30px;

		a {
			display: block;
			height: 248px;

			&:hover {
				h2 {
					background: var(--color-accent);
				}
			}
		}

		h2 {
			position: absolute;
			width: 80%;
			left: 0;
			bottom: 20px;
			padding: 15px;
			color: #ffffff;
			background: var(--color-base);
			font-size: 14px;
			font-weight: normal;
			transition: .2s;

			span {
				font-weight: bold;
				display: block;
			}
		}

		a:hover {
			.item-title {
				background: var(--color-accent);
			}
		}
	}
}

.projects-url {
	display: flex;
	justify-content: center;
	
	a {
		background: var(--color-accent);
		color: #ffffff;
		padding: 7px 25px;
		border-radius: 999px;
		transition: .2s;

		&:hover {
			background: #CF2131;
		}
	}
}

.tabs {
	.tab-link {
		position: relative;
		cursor: pointer;
		margin-bottom: 50px;

		&:hover, &.active {
			span {
				background: var(--color-accent);

				&:after {
					display: block;
				}
			}
		}

		&:nth-child(2) {
			span {
				right: unset;
				left: 15px;
			}
		}
	}

	span {
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
		display: block;
		padding: 7px 20px;
		min-width: 200px;
		text-transform: uppercase;
		text-align: center;
		color: #ffffff;
		background: var(--color-base);

		&:after {
			content: '';
			position: absolute;
			top: calc( 100% - 1px );
			left: 50%;
			transform: translateX(-50%);
			display: none;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid red;
		}
	}

	.tab-panel {
		display: none;

		&.active {
			display: block;
		}
	}
}

.home-partner {
	padding: 60px 0;

	@media all and (max-width:991px) {
		padding: 30px 0;
	}

	.section-title {
		& + p {
			margin-bottom: 30px;
		}
	}

	.item {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100px;
	}

	img {
		object-fit: contain;
		width: 120px;
	}
}

.home-contact {
	padding: 100px 0;
	background: url( images/contact-bg.gif ) center center / cover no-repeat;
	position: relative;

	.row {
		padding: 30px 15px;
		background: #ffffff;
		border-radius: 10px;
	}

	img {
		width: 100%;
		height: 100%;
	}

	form {
		margin-top: 10px;

		p {
			line-height: 1.3;
		}
	}

	.ball {
		display: block;
		position: absolute;
		object-fit: contain;

		&-1 {
			width: 160px;
			height: 160px;
			top: 0;
			right: 0;
		}

		&-2 {
			width: 120px;
			height: 120px;
			bottom: 20px;
			right: 50px;
		}

		&-3 {
			width: 60px;
			height: 60px;
			top: 30px;
			left: 20%;
		}
	}

	input {
		width: 100%;
		height: 30px;
		line-height: 30px;
		padding-left: 5px;
		padding-right: 5px;
		border:1px solid #c4c4c4;
		margin-top: 5px;
		margin-bottom: 15px;
		border-radius: 4px;

		&[type=submit] {
			background: var(--color-accent);
			color: #ffffff;
			width: 100px;
			display: block;
			border-radius: 999px;
			margin-top: 0;
			margin-bottom: 0;
			margin-left: auto;
			margin-right: auto;
			cursor: pointer;
			transition: .3s;

			&:hover {
				background: #CF2131;
			}
		}
	}

	textarea {
		margin-top: 8px;
		margin-bottom: 12px;
		border: 1px solid #c4c4c4;
		border-radius: 4px;
		width: 100%;
		height: 100px;
		padding: 5px;
	}
}

.page-template-contact {
	.home-contact {
		.container {
			padding-left: 30px;
			padding-right: 30px;
		}

		.row {
			box-shadow: -12px 12px 20px rgba(#000, .15);
		}
	}
}

.home-video {
	display: flex;
	flex-wrap: wrap;

	& > [class^=col-] {
		padding: 0;
	}

	.col-6 {
		max-height: 300px;
		// overflow: hidden;
	}

	video {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.map {
		position: relative;
		padding: 0;

		a {
			display: block;
			height: 100%;
			width: 50vw;
		}

		img {
			position: relative;
			width: 50vw;
			height: 100%;
			max-width: unset;
			object-fit: cover;

			@media all and (max-width:991px) {
				width: 100%;
			}
		}
	}

	.info {
		padding-top: 50px;
		padding-bottom: 50px;

		h3 {
			margin: 20px 0 10px;
		}

		p {
			line-height: 30px;
		}
	}
}

.single-post-content {
	padding-top: 20px;
	padding-bottom: 50px;

	h1 {
		margin-bottom: 20px;
	}
}