.post-type-archive-project {
	.projects-banner {
		color: #ffffff;
		padding: 90px 0px;
		position: relative;
		margin-bottom: 50px;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(#000, .5);
		}

		h2 {
			font-size: 48px;

			@media all and (max-width: 992px) {
				font-size: 30px;
			}
		}

		p {
			display: block;
			max-width: 60%;

			@media all and (max-width: 992px) {
				max-width: 100%;
			}
		}
	}

	.projects {
		p {
			margin-bottom: 40px;
			display: block;
			min-height: 100px;
		}
	}

	.project-slider {
		position: relative;

		.slick-list {
			margin: 0 -15px;
		}
	}

	.item-project {
		display: block;
		position: relative;
		margin-bottom: 28px;
		max-height: 270px;
		padding: 0 15px;
		overflow: hidden;
	
		.item-title {
			position: absolute;
			width: 80%;
			left: 15;
			bottom: 20px;
			padding: 15px;
			color: #ffffff;
			background: #696969;
			font-weight: normal;
			transition: .2s;

			span {
				font-weight: bold;
				display: block;
			}
		}

		&:hover {
			.item-title {
				background: var(--color-accent);
			}
		}
	}

	.slick-arrow {
		position: absolute;
		bottom: 0;
		right: 0;
		background: var(--color-accent);
		transition: .2s;

		&:hover {
			background: var(--color-base);
		}

		&.prev {
			right: 38px;
		}

		span {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 36px;
			height: 36px;
		}
	}
}

.single-project {
	h1 {
		font-weight: normal;
		font-size: 48px;

		@media all and (max-width:991px) {
			font-size: 25px;
		}
	}

	.attachment-full {
		margin-bottom: 50px;
		max-height: 700px;
		object-position: center;
	}

	.project-info {
		margin-bottom: 50px;
	}

	h2 {
		margin-bottom: 20px;
	}

	p {
		margin-bottom: 15px;
	}
}

.single-project-slider {
	.slick-dots {
		display: flex;
		justify-content: center;
	}
	.slick-arrow {
		position: absolute;
		bottom: 35px;
		right: 100%;
		background: var(--color-accent);
		transition: .2s;

		&:hover {
			background: var(--color-base);
		}

		&.prev {
			right: calc( 100% + 38px );
		}

		span {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 36px;
			height: 36px;
		}
	}
}

.project-related {
	margin-bottom: 60px;

	.item {
		a {
			display: block;
			position: relative;
			height: 270px;
		
			h2 {
				position: absolute;
				width: 80%;
				left: 15;
				bottom: 20px;
				padding: 15px;
				font-size: 14px;
				color: #ffffff;
				background: #696969;
				font-weight: normal;
				transition: .2s;

				span {
					font-weight: bold;
					display: block;
				}
			}

			&:hover {
				h2 {
					background: var(--color-accent);
				}
			}
		}
	}
}

.breadcrumbs-wrapper + .banner {
	color: #ffffff;
	padding-top: 65px;
	padding-bottom: 150px;
	position: relative;

	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: rgba( #000, .6 );
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}

	.container {
		position: relative;
		z-index: 1;
	}

	p {
		display: block;
		width: 35%;

		@media all and (max-width:991px) {
			width: 100%;
		}
	}
}

.page-content {
	padding-bottom: 40px;

	p {
		margin: 20px 0;
	}
}

.post-type-archive-product, .tax-prod-category, .single-product {
	h1 {
		font-size: 48px;
		font-weight: normal;

		@media all and (max-width:991px) {
			font-size: 25px;
		}
	}

	.products {
		margin-top: 45px;
		overflow-x: hidden;

		h2 {
			margin-bottom: 25px;
			display: flex;
			justify-content: space-between;

			img {
				width: 50px;
				object-fit: contain;
			}
		}

		.item {
			a {
				display: block;
				overflow: hidden;
			}

			img {
				transition: 1s;
			}

			&:hover {
				img {
					transform: scale(1.3);
				}
			}
		}

		.item-title {
			margin-top: 10px;

			span {
				font-weight: normal;
				display: block;

				&:before {
					content: '';
					display: block;
					width: 60px;
					height: 1px;
					background: #000000;
					margin: 10px 0;
				}
			}
		}
	}

	.video {
		padding: 40px 0;

		video {
			max-width: 100%;
			display: block;
			margin: 30px 0;
		}

		p {
			@media all and (min-width:992px) {
				display: block;
				width: 60%;
			}
		}
	}
}

.product-related {
	margin-top: 50px;
	margin-bottom: 50px;

	.item {
		img {
			height: 370px;
		}
	}
}

.product-content {
	.row {
		justify-content: space-between;
	}
}

.gallery-thumbs {
	margin-top: 10px;

	@media all and (max-width:991px) {
		margin-bottom: 40px;
	}
}

.swiper-pagination-bullets{
	margin-top: 15px;

	@media all and (max-width:991px) {
		margin-top: -30px;
	}
}

.swiper-pagination-bullet {
	margin-right: 20px;

	&-active {
		background: var(--color-accent);
	}
}

.page-template-blog {
	.item {
		display: flex;
		flex-wrap: wrap;
	}

	.slick-list {
		margin: 0 -15px;
	}

	.slick-dots {

		button {
			text-indent: 0;
			background: none !important;
		}

		li {
			margin-right: 0;
			margin-left: 10px;
		}

		.slick-active {
			button {
				color: var(--color-accent);
			}
		}
	}

	.news-item {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;

		&:hover {
			h3 {
				color: var(--color-accent);
			}

			img {
				transform: scale(1.3);
			}
		}

		& > a {
			display: block;
			overflow: hidden;
			flex: 0 0 45%;
			max-height: 170px;
		}

		img {
			transition: 1s;
		}

		.item-content {
			width: 50%;
			position: relative;
		}

		h3 {
			transition: .3s;
			font-size: 14px;
		}

		.slash {
			display: block;
			height: 1px;
			width: 30px;
			background: #000000;
			margin: 10px 0;

			& + p {
				height: 60px;
				line-height: 20px;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	.section-title {
		margin-bottom: 25px;

		position: relative;

		.pagination {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
		}
	}
}

.tin-tuc-chung {
	padding-top: 50px;
	padding-bottom: 50px;

	.feature-img {
		max-height: 370px;

		@media all and (max-width:991px) {
			margin-bottom: 20px;
		}
	}

	.item {
		margin-bottom: 30px;

		@media all and (max-width:991px) {
			margin-bottom: 20px !important;
		}

		h3 {
			font-size: 14px;
			@include set-lineMax( 3, 20px );
		}
	}
}

.tin-tuc-san-pham {
	padding-top: 50px;
	padding-bottom: 50px;
	background: #f1f1f1;

	.feature-img {
		max-height: 570px;
	}

	.item {
		margin-bottom: 30px;
	}
}

.posted-on {
	position: absolute;
	left: 0;
	bottom: 0;
	color: #8b8b8b;
}

.product-slider {
	margin: 0 -15px;
	position: relative;

	.item {
		margin: 0 15px;
	}

	.slick-prev {
		display: none !important;
	}

	.next {
		position: absolute;
		right: 30px;
		z-index: 2;
		top: 0;
		width: 15%;
		height: 370px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: .2s;

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 58px;
			height: 58px;
			border-radius: 50%;
			background: #ffffff;
			transition: .2s;

			.svg-arrow {
				transition: .2s;
			}
		}

		&:hover {
			background: rgba( #000, 0.6 );

			span {
				background: var(--color-accent);

				.svg-arrow {
					fill: #ffffff;
				}
			}
		}
	}
}

.swiper-wrapper {
	z-index:3;
}
.swiper-pagination {
	z-index:2;
}
.swiper-button-next, .swiper-button-prev {
	z-index:4;
}