:root {
	--font-main : 'Montserrat', sans-serif;

	--color-base   : #696969;
	--color-black  : #000000;
	--color-white  : #ffffff;
	--color-accent : #ED1B2F;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}